<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
            <thead>
                <th>amount</th>
                <th>date  </th>
                <th>location</th>
                <th>handle</th>
            </thead>
            
            <tbody>
                
                <td>{{sop.amount}} </td>
                <td>{{sop.date}} </td>
                <td>{{sop.location}} </td>
                <td> <a href="">delete</a>  <a href="">edit</a></td>
                
            </tbody>
            
        </table>
</body>
</html>